#!/bin/zsh

action=$1
port=5800

waitport () {
    timeout=10
    interval=0.5
    i=0
    while ! nc -z localhost $1; do
        if [[ "$i" -ge $timeout ]]; then
            echo "Timeout"
            return 2
        fi
        sleep $interval
        i=$((i+interval))
    done
    return 0
}

case "$action" in
    start)
    echo "Starting pid-service..."
    eval "nohup scripts/run-api.py >> all.log 2>&1 &"
    waitport $port
    ;;

    stop)
    echo "Stopping pid-service..."
    lsof -ti tcp:5800 | xargs kill -9
    ;;

    *)
    echo "Unknown action $action"
    exit 1
    ;;
esac
